<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <!-- This is a comment with many lines
     and all of them are commented
     until the end-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Invoice app</title>
</head>
<body>
<h1>Calculating invoice</h1>
<form action="#" th:action="@{/addproduct}" th:object="${newindex}" method="post">
    <p>pdsc:<input type="text" th:field="*{pdsc}" /></p>
    <p>price:<input type="text" th:field="*{price}" /></p>
    <p>itcd:<input type="text" th:field="*{itcd}" /></p>
    <p><input type="submit" value="submit" /><input type="reset" value="Reset" /></p>
</form>

</body>
</html>